<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/auth.css'%}">
    <title>Login</title>
</head>
<body>
    <a href="#" class="logo">
        <p class="icon">🌴</p>
        <p class="text">Do it now</p>
    </a>
    <div class="signup-container">
        <h2>Login</h2>
        {% if messages %}
            <div class="messages">
            {% for message in messages %}
                <div class="{% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
        <form action='{% url "Todo:login" %}' method='POST'>
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>